 /* ------ */
/* Header */
header {
    width: 100%;
    aspect-ratio: 2/0.5;
    color: white;
    border-bottom: 3px solid var(--dark-blend);

    background-color: var(--light);
    background-image: url("../images/starters.png");
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-size: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > div {
    text-align: center;
    background-color: var(--dark-blend);
    background-blend-mode: lighten;
    padding: 20px;
    font-size: 140%;
    margin-top: 2%;
}

 /* ---------- */
/* Mediaquery */
@media screen and (max-width: 980px) {
    header {
        aspect-ratio: 2/1;
        background-size: cover;
    }
}