.card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.75rem;
    margin: 1rem;
}

.kaart {
    width: 200px;
}

.kaart > img {
    width: 100%;
}




@media screen and (max-width: 800px) {
    .card_container {
        justify-content: center;
        text-align: center;
    }
}