 /* ------------- */
/* Inhoudsopgave: */

/* font & root */
/* fundering - navbar, main, footer, section */
/* semantics */
/* classes */
/* flexbox */
/* mediaquery */


 /* ----------- */
/* font & root */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --dark: #243642;
    --dark-blend: #243642bb;
    --light: #387478;
    --light-blend: #387478bb;
    --lightest: #629584;
    --lightest-blend: #629584bb;
    --background: #E2F1E7;

    --accent: #D94B4B;
    --accent-blend: #D94B4Bbb;
}

 /* --------- */
/* fundering */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", serif;
}

body {
    height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

/* navbar */
nav {
    background-color: var(--dark-blend);
    border-bottom: 2px solid var(--dark);
    padding: 0.2rem 0;
}

nav a {
    transition: all 0.2s;
}

nav a:hover {
    color: var(--lightest);
}

nav form {
    display: flex;
    align-items: center;
}

nav input {
    height: 35px;
    margin: 0 0.5rem;
    border: 2px solid var(--dark);
    border-radius: 5px;
}

nav input::placeholder {
    padding: 0 0.4rem;
}

nav input:focus {
    outline: none;
    border-color: var(--accent-blend);
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 5px;
}

.nav_icon {
    width: 60px;
}

.links {
    margin-left: auto;
}

.links > a {
    margin: auto;
    padding: 1rem 0;
}

/* main */
main {
    flex: 1;
}

/* footer */
footer {
    background-color: var(--dark-blend);
    color: var(--background);
    border-top: 2px solid var(--dark);
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

footer a {
    transition: all 0.2s;
}

footer a:hover {
    color: var(--accent);
}

/* section */
section {
    margin-bottom: 2rem;
}

 /* --------- */
/* semantics */
h2 {
    font-size: 20px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--dark);
}

a:hover {
    color: var(--dark-blend);
}

ul {
    width: fit-content;
}

button {
    background-color: var(--background);
    border: 2px solid var(--dark);
    color: var(--dark);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background-color: var(--dark);
    color: var(--background);
}

button:disabled {
    background-color: var(--background);
    color: var(--dark-blend);
    border-color: var(--dark-blend);
    cursor: not-allowed;
}

button.active {
    background-color: var(--accent);
    color: var(--background);
    border-color: var(--accent);
}


 /* ------- */
/* classes */
.unavailable {
    display: none !important;
}

.set_title {
    width: 100vw;
    color: var(--dark);
    font-size: 30px;
}

.p_heading {
    margin-bottom: 1rem;
}

.container {
    margin: 0 auto;
}

.accent {
    color: var(--accent);
}

.t_center {
    text-align: center;
}

.h_100 {
    height: 100%;
}

.w_100 {
    width: 100%;
}

.type_img {
    width: 25px;
    aspect-ratio: 1/1;
}

.kaarten_filter {
    width: 100%;
}

.kaarten_filter select {
    /* background-color: #387478; */
    padding: 5px;
    margin: 0 5px;
    border: 2px solid var(--dark);
    border-radius: 5px;
}

 /* ------- */
/* flexbox */
.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.j_between {
    justify-content: space-between;
}

.j_center {
    justify-content: center;
}

.i_center {
    align-items: center;
}

.padding_h {
    padding: 0 1rem;
}

.wrap {
    flex-wrap: wrap;
}

.gap5 {
    gap: 5px;
}

 /* ---------- */
/* mediaquery */
@media screen and (min-width: 1216px) {
    .container {
        max-width: 1300px;
        /* background-color: #D94B4B; */
    }
}